{% extends 'core/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
	<main role="main">
	  <div class="container">
	    <div class="row mt-3">
	      <div class="col-md-9 mx-auto mb-5">
	        <form action="" method="post">{% csrf_token %}
	          <h3 class="mb-4">Login</h3>
	          {% if form.non_field_errors %}
	            <p style="color:red">Wrong credentials try again.</p>
	          {% endif %}
	          <p>
	            <input type="text" name="username" autofocus maxlength="254" required
	              id="id_username" class="form-control" placeholder="Name"/>
	          </p>
	          <p>
	            <input type="password" name="password" required
	              id="id_password" class="form-control" placeholder="Password"/>
	          </p>
	          <p><input type="submit" class="btn btn-primary btn-block" value="Login"></p>
	        </form>
	      </div>
	    </div>
	  </div>
	</main>
{% endblock %}