{% if messages %}
     <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
             <ul class="list-group" style="list-style: none; margin-left: 0px">
                 {% for message in messages %}
                    <li{% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>
                        {% if 'safe' in message.tags %}
                            {{ message|safe }}
                        {% else %}
                            {{ message }}
                        {% endif %}
                    </li>
                 {% endfor %}
             </ul>
        </div>
     </div>
{% endif %}
