<!DOCTYPE html>
<html lang='en'>
<head>
	{% load staticfiles %}
	{% block meta %}
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{% block title %} {% endblock %}</title>
		<meta name="description" content="Post-Mortem">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	{% endblock %}
    {% block fonts %}
		<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
	{% endblock %}
	{% block stylesheet %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	{% endblock %}
	{% block extraCSS %} {% endblock %}
</head>
<body>
	{% block navbar %}
		{% include 'core/includes/_navbar.html'%}
	{% endblock %}
	{% block messages %}
		{% include 'core/includes/_message.html'%}
	{% endblock %}
	{% block content %} {% endblock %}
	{% block footer %}
		{% include 'core/includes/_footer.html'%}
	{% endblock %}
	{% block js %}
		<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'vendor/popper.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/jquery-ui.js' %}"></script>
	{% endblock %}
	{% block extraJS %} {% endblock %}
</body>
</html>

