{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<main role="main">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-9 mx-auto">
                <h2 class="section-heading mb-4">{{object}}</h2>
            <div>
            <p>{{object.description}}</p>
            <p>{{object.key}}</p>
            <p>{{object.host}}</p>
            <p>{{object.tecnologies}}</p>
            <p><a href="{% url url_update pk=object.id %}">Editar</a></p>
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock %}