{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block extraCSS %}
	<link href="{% static 'incidence/css/custom_ckeditor.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
	<main role="main">
	  <div class="container">
	    <div class="row mt-3 mb-5">
	      <div class="col-md-9 mx-auto">
	        <div>
	            <form action="" method="post">{% csrf_token %}
	                {{ form.as_p }}
	                <div class="text-center">
	                	<input class='btn btn-primary btn-block' type="submit" value="{{button_legend}}"/>
	            	</div>
	            </form>
	        </div>
	      </div>
	    </div>
	  </div>
	</main>
{% endblock %}
{% block extraJS %}
	<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
	<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}
