{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block content %}
    <main role="main">
        <div class="container mb-4">
            <div class="row mt-4">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            {% for object in object_list|dictsort:"id" %}
                                {% for field, value in object.get_fields_and_values %}
                                    {% if field.name not in hidden_fields %}
                                        <th scope="col">{{ field.verbose_name }}</th>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list|dictsort:"id" %}
                            <tr>
                                {% for field, value in object.get_fields_and_values %}
                                    {% if field.name not in hidden_fields %}
                                        <td>{{value}}</td>
                                    {% endif %}
                                {% endfor %}
                                <td>
                                    <div class="btn-group" role="group" aria-label="...">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#">Detalle</a>
                                                </li>
                                        
                                                <li>
                                                    <a href="#">Editar</a>
                                                </li>
                                                <li>
                                                    <a href="#">Borrar</a>
                                                </li>
                                            </ul><!--dropdown-menu-->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <p>¡Empty registers!</p>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!--row mt-4-->
        </div><!--container mb-4-->
    </main>
{% endblock %}


